.aboutUs {
  margin-top: 10%;
}

.paragraph {
  font-size: 14px;
  line-height: 24px;
  width: 80%;
}

.link {
  border-bottom: 6px solid var(--color-green);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  padding: 3px;
  margin-right: 21px;
  text-transform: uppercase;
}

.gallery {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
  background-color: rgba(0, 0, 0, 0.5);
  /* padding: 80px; */
}

.gallery .slick-slider,
.gallery .slick-slider .slick-list,
.gallery .slick-slider .slick-list .slick-track,
.gallery .slick-slider .slick-list .slick-track .slick-slide div {
  height: 100%;
}

.gallery .slick-slider {
  background-color: red;
}

.galleryWrapper {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
}

.galleryImage {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.sliderImage {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.imageWrapper {
  position: relative;
  height: 190px;
  margin: 0px 10px;
  overflow: hidden;
  border-radius: 10px;
}

.imageWrapper:hover {
  cursor: pointer;
}

.imageWrapper:hover .imageHover {
  opacity: 1;
}

.aboutImageWrapper {
  position: relative;
  height: 510px;
  overflow: hidden;
}

.aboutImage {
  width: auto;
  height: 130%;
  position: absolute;
  left: -18%;
  top: 50%;
  transform: translateY(-50%);
}

.imageHover {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.2s ease;
  z-index: 1;
}

.imageHover span {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: var(--color-green);
  color: #000;
  font-size: 18px;
  border-radius: 10px;
}

.closeButton {
  background: transparent;
  border: 0px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.closeButton img {
  width: 30px;
}

@media screen and (max-width: 575px) {
  .aboutImageWrapper {
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .aboutImage {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    transform: none;
  }

  .paragraph {
    width: 100%;
  }

  .closeButton {
    top: 16px;
    right: 16px;
  }

  .closeButton img {
    width: 24px;
  }
}