.references {
  margin-top: 160px;
  background-color: var(--color-purple);
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
}

.heading {
  margin-bottom: 20px;
}

.imgQuote {
  position: absolute;
  top: 15%;
  right: 8%;
  width: 144px;
}

.quoteContainer {
  padding: 110px 24px 20px;
}

.quote {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 12px;
  color: #18191F;
  padding: 110px 20px 40px;
}

.quote::after,
.quote::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 20px;
  background: #FFFFFF;
  bottom: 0;
  z-index: 100;
  left: 50%;
}

.quote::after {
  transform: skew(0, -50deg) translateX(calc(-50% + 11px));
}

.quote::before {
  transform: skew(0, 50deg) translateX(calc(-50% - 12px));
  bottom: -28px
}

.quote p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #18191F;
  margin-bottom: 24px;
}

.quote h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #18191F;
  text-align: center;
}

.quote span {
  font-weight: 400;
  font-size: 16px;
}

.quote img {
  width: 190px;
  height: 190px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -95px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px #fff;
}