.priceList {
  margin-top: 160px;
}

.heading {
  margin-bottom: 20px;
}

.cardContainer {
  padding: 30px 10px 0px;
}

.card {
  border: 4px solid var(--color-green);
  border-radius: 12px;
  padding: 30px 20px 20px;
  box-shadow: 0px 0px 6px 1px var(--color-green);
}

.card h3 {
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #F2F2F2;
  text-transform: uppercase;
  height: 30px;
}

.price {
  background-color: var(--color-green);
  font-weight: 400;
  font-size: 40px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #171717;
  width: 60%;
  margin: 0 auto 40px;
}

.texts {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--color-paragraph-text);
  list-style-type: none;
  padding-left: 0px;
  height: 280px;
}

.texts li {
  margin-bottom: 10px;
}

.btn {
  font-size: 18px;
  display: inline-block;
  margin-top: 0px;
}

.btnWrapper {
  text-align: center;
  margin: 27px 0px 60px;
}

@media screen and (max-width: 1200px) {
  .texts {
    height: 366px;
  }
}

@media screen and (max-width: 992px) {
  .texts {
    height: 342px;
  }
}

@media screen and (max-width: 768px) {
  .texts {
    height: auto;
  }
}